@use "../settings/settings" as *;

.container .call-indecator {
  position: fixed;
  top: var(--space-2);
  width: clamp(300px, calc(100% - var(--space-2)), 600px);
  background: var(--primary-clr);
  padding: var(--space-1) var(--space-2);
  z-index: 30 !important;
  @include flex(center, space-between, row, var(--space-1));
  border-radius: var(--border-radius-large3);
  opacity: 0;
  filter: blur(var(--space-2));
  pointer-events: none;
  display: none;

  .timer {
    text-align: center;
    @include p();
    color: #FFFFFF;
    padding: var(--space-1);
  }

  .audio-visualizer-container {
    position: relative;
    flex-grow: 1;
    @include flex(center, center, row, var(--space-1));

    .voice-visualizer {
      position: relative;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      gap: 3px;
    }

    .voice-visualizer.mirrored {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      gap: 4px;
      position: relative;
    }

    .voice-bar {
      width: 6px;
      border-radius: 3px;
      transition: height 0.1s ease;
      min-height: 2px;
      align-self: center;
      background: rgba(255, 255, 255, 0.7);
    }

    .voice-visualizer.mirrored.alternate {
      justify-content: space-between;
    }

    .voice-visualizer.mirrored.alternate .voice-bar {
      transform-origin: center bottom;
    }
  }

  button {
    padding: var(--space-1);
    @include center();

    svg {
      width: var(--svg-size);
      aspect-ratio: 1/1;
      fill: #FFFFFF;
      rotate: 0;
      transition: rotate 0.5s ease;
    }

    .ringing {
      fill: rgba(255, 255, 255, 0.7);
    }
  }
}
